<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styling/style.css">
  
    <title>Zelda Wiki</title>
</head>
<header>
    <nav>
        <ul>
            <a href="locations.ejs">Familiar Locations</a>
            <a href="addgame.ejs">Add game...</a>
        </ul>
    </nav>
</header>
<body>
    <main class="main-container">

    <div class="content-container">
        <form action="/index.js" method="POST">
            <label for="">Title</label>
            <input type="text" name="title">

            <label for="">Summary</label>
            <input type="text" name="summary">

            <label for="">Year</label>
            <input type="text" name="year">

            <label for="">Console</label>
            <input type="text" name="console">

            <label for="">Developer</label>
            <input type="text" name="developer">
            <button>Submit Game</button>
        </form>

                
        </div>
        
    </div>

</main>

</body>
</html>